*.py[cod]
*.py.0
*.py~


#logs
*.log

#image files
*.dds
*.jpg
*.png
*.jpeg
*.gif
*.JPG

*.wmv
*.m4a
*.mp4
*.mov


#font files
*.ttf

*.md5sum
*.checksum
*.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
